
<div app-flyout-menu>
  <button class="menutoggle"><i class="fa fa-lg fa-bars"></i></button>
  <div class="flyout flyout__left">
    <div class="flyout-menu">
      
    </div>
  </div>
</div>

<div id="wrapper">

  <div class="col col-lg-12">
    <h1>Choose Your Own Adventure Maker</h1>
  </div>
  
  <div class="col col-lg-12">

    <div class="cyoa-header">
      <!-- <button class="app-button" ng-click="addNewPart()">Add Part <i class="fa fa-plus"></i></button> -->
      <a class="app-button" ng-href="{{downloadHref()}}" download="Story.str">Download Story.str <i class="fa fa-download"></i></a>

      <div app-dropdown-menu class="menu u-mtop10">
        <div class="menu--item">
          <button>File</button>
          <div class="menu--item--dropdown">
            <ul>
               <li><button ng-click="createNewProject()">New Workspace</button></li>
               <li><button app-modal="<load-workspace></load-workspace>">Load Workspace</button></li>
               <li><button app-modal-height="300px" app-modal="<save-workspace></save-workspace>">Save Workspace As...</button></li> 
              <!-- <li class="separator"></li> -->
              <li><a ng-href="{{downloadHref()}}" download="Story.str">Download as Story.str</a></li>
              <!-- <li><button>Download as Story.json</button></li> -->
            </ul>
          </div>
        </div>
        <!-- <div class="menu--item">
          <button>Help</button>
          <div class="menu--item--dropdown">
            <ul>
              <li><button>Tutorial</button></li>
              <li><button>Report Bug</button></li>
            </ul>
          </div>
        </div> -->
      </div>

      

      <!-- <button class="app-button" >Download <i class="fa fa-download"></i></button> -->
      <!-- <button class="app-button" ng-click="setTextStory()">Export <i class="fa fa-upload"></i></button> -->
      <!-- <button ng-click="save()">Save <i class="fa fa-download"></i></button> -->
      <!-- <button ng-click="load()">Load <i class="fa fa-download"></i></button> -->
    </div>
  </div>

  <div class="col col-lg-12">

     <!-- <textarea class="export-textarea" readonly placeholder="Exported Story Goes Here" ng-model="view.textStory"></textarea>  -->

    <adventure-workspace></adventure-workspace>

    <button class="app-button" ng-click="addNewPart()">Add Story Part <i class="fa fa-plus"></i></button>
    <br>
  </div>
  
</div>

