* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: $base-font-size;
  line-height: $base-font-size * 1.7;
}

body {
  margin:0;
  padding:0;
}

img {
  max-width:100%;
}

ul, ol {
  padding-left:1em;
}

input[type=text], select {
  border: 1px solid #c7c7c7;
  width:100%;
  padding:.05em .5em;
}

input:focus, input:active {
  box-shadow: 0px 0px 3px #c2c3a8;
}

p, ul, ol, dl, pre, pre[class*="language-"].code-toolbar {
  margin-bottom: 1.5em;
}
p, ul, ol, dl {
  font-size:1rem;
}

pre[class*="language-"] {
  font-size:.9em;
}

code:not([class*="language-"]) {
  font-size:75%;
  font-family:monospace;
  color:#905;
  padding:0px 1px;
}

pre {
  background: #f5f2f0;
  padding:1em;

  @include desktop {
    code {
      white-space:pre-wrap;
    }
  }
}