.u-full { width: 100%; }
.u-text-center { text-align: center; }
.u-pointer { cursor: pointer; }

.u-pull-right { float:right; }
.u-pull-left { float:left; }

@for $i from 1 through 10 {
  $amount: $i*5;
  .u-ptop#{$amount} { padding-top: #{$amount}px; }
  .u-pbottom#{$amount} { padding-bottom: #{$amount}px; }
}

@for $i from 1 through 10 {
  $amount: $i*5;
  .u-mtop#{$amount} { margin-top: #{$amount}px; }
  .u-mbottom#{$amount} { margin-bottom: #{$amount}px; }
}

.col-centered{
  float: none;
  margin: 0 auto;
}