$base-font-size: 22px;
$flyoutWidth: 300px;

$c1: #b1ccac;

$color-checkmark-green: #60c30b;

$link: #7b7622;
$link-hover: #b37a1f;
$link-menu-color:#3e4832;
$link-menu-color-hover:#000;

$text-content: Georgia,Cambria,"Times New Roman",Times,serif;
$text-sans-serif: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
$text-header: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;

$border-light: #eee;

$header-background: #e6ece5;

$lrspacing: 15px;

$mobile-width: 560px;
$desktop-width: 561px;
$max-width-desktop: 800px;